@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* .testing {
  border: 3px solid red;
  height: 400px;
} */

body {
  background-color: #ada8a8;
  height: 100vh;
  width: 100%;
  padding: 60px 0;
}

section {
  border-radius: 10px;
  background-color: #eef5ff;
  padding: 105px 250px;
  height: 100%;
  width: 1440px;
  margin: auto;
}

.container {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  padding: 15px;
  justify-content: space-between;
}

.sidebar {
  background-image: url(/assets/images/bg-sidebar-desktop.svg);
  height: 100%;
  padding: 0 30px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 33%;
}

.sidebar-writeup {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-writeup-container {
  display: flex;
  gap: 20px;
}

.sidebar-writeup-container h1 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.sidebar-writeup-container p {
  color: #ffffff;
}

#two span p {
  color: #000000;
}

.serial-number {
  background-color: transparent;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 100%;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
}

#two {
  background-color: #c4e1ff;
}

.serial-number p {
  height: 100%;
}

.additional-info {
  height: max-content;
}

.additional-info p {
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 300;
}

.plan-container {
  padding: 60px 0 0 0px;
  width: 50%;
  margin-right: 90px;
  position: relative;
}

.plan-container > h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #29395e;
}

.plan-container > p {
  color: #bdbec4;
  margin-bottom: 15px;
  font-size: 18px;
}

.select-plan {
  display: flex;
  height: 30%;
  justify-content: space-between;
  padding-top: 25px;
}

.arcade,
.advanced,
.pro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border: 1px solid #bdbec4;
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  cursor: pointer;
}

.arcade:hover,
.advanced:hover,
.pro:hover {
  border: 1px solid #6761a9;
}
.arcade:focus,
.advanced:focus,
.pro:focus {
  border: 1px solid #6761a9;
  background-color: #f8f9fe;
  transition: 0.1s ease-in;
}

.arcade p,
.advanced p,
.pro p {
  color: #bdbec4;
  text-align: left;
}

.arcade h1,
.advanced h1,
.pro h1 {
  text-align: left;
  color: #47587d;
  font-size: 16px;
}

.period {
  display: flex;
  background-color: #f8f9fe;
  margin-top: 30px;
  justify-content: center;
  font-weight: 700;
  padding: 15px 0;
  position: absolute;
}

.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #01285d;
  transition: 0.5s;
  width: 40px;
  height: 100%;
}

.slider::before{
  content: "";
  position: absolute;
  height: 80%;
  width: 30%;
  background-color: #ffffff;
  transition: 0.5s;
  top: 2px;
  left: 2px;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before{
  border-radius: 20px;
}

#monthly{
  margin-right: 41px;
  margin-left: 111px;
}

#yearly{
  margin-left: 41px;
  margin-right: 111px;
}

.confirmation{
  position: absolute;
  top: 90%;
}

.confirmation button{
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  border: 0;
}

.previous{
  background-color: #ffff;
  padding: 15px 0;
}

.next-monthly, .next-yearly{
  position: absolute;
  background-color: #03285e;
  left: 540%;
  color: #ffffff;
  font-size: 16px;
  width: 130px;
  padding: 15px 25px;
  top: 1%;
  cursor: pointer;
}



